*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.width-container{
    width: 60%;
    margin: auto;
}

/* Header styles */
.flex-header{
    padding-top: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 50px;
}

header{
    background-color: #1f2937 ;
}

header .logo{
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
}

header a{
    color: #e5e7eb;
    text-decoration: none;
    margin: 0px 8px;
    font-size: 18px;
}

/* Header styles end */

/* Hero Felx styels */

.flex-hero{
    display: flex;
    flex-direction: row;
    gap: 30px;
    height: 500px;
    justify-content: center;
    align-items: center;
}

.main-content{
    background-color: #1f2937 ;
}

.main-content h1{
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    width: 80%;
}

.main-content p{
    width: 80%;
    font-size: 18px;
    color: #e5e7eb;
}

.flex-hero-item{
    flex: 1 1 400px;

}

.flex-hero-left-content{
    height: 300px;
}

.flex-hero-right-content{
    height: 300px;
}

.flex-hero-right-content img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.flex-hero-left-content{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 8px;
}

.flex-hero-left-content button{
    width: 135px;
    height: 40px;
    border-radius: 10px;
    border: none;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color:#3882f6;
    margin-top: 4px;
    flex-shrink: 0;
    cursor: pointer;
}

/* Hero Felx styels end */

/* List Content styles */
.list-container{
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;

}

.list-container h2 {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    color: #1f2937;
}

.list-items{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 32px;
}

.list-item{
    display: flex;
    flex-direction: column;
    flex: 0 1 200px;
    gap: 8px;
}

.list-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
    border: solid 4px #3882f6;
}

.list-item p{
    text-align: center;
}

/* Start of quote container styles */
.quote-container{
    display: flex;
    flex-direction: column;
    height: 500px;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
    gap: 16px;
}

.quote-container-main{
    flex: 0 1 auto;
    width: 50%;
    font-size: 36px;
    font-weight: 400;
    font-style: italic;
    color: #1f2937;
}

.quote-container-name{
    flex: 0 1 auto;
    align-self: flex-end;
    width: 50%;
    font-size: 26px;
    font-weight: bold;
    font-style: italic;
    color: #1f2937;
}

.call-to-action-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 400px;
}

.call-to-action{
    background-color: #3882f6;
    height: 150px;
    flex: 0 1 900px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
}

.right-call-to-action button{
    width: 135px;
    height: 40px;
    border-radius: 10px;
    border: none;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color:#3882f6;
    margin-top: 4px;
    flex-shrink: 0;
    cursor: pointer;
    border: solid white 2px;
}

.left-call-to-action{
    color: white;
}

.left-call-to-action .bold{
    font-weight: bold;
    font-size: 24px;
}

/* End of quote container styles */

.footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 75px;
    background-color: #1f2937;
    color: white;
    font-size: small;
    font-style: italic;
    letter-spacing: 1px;
    font-size: 12px;
}

.footer a{
    color: white;
    font-style: none;
    text-decoration: none;
}